@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.loader
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0f0f;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.loader svg
{
    position: fixed;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loader svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #ffffff;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        stroke-dashoffset: 440;
    }
    50%
    {
        stroke-dashoffset: 0;
    }
    50.1% 
    {
        stroke-dashoffset: 880;
    }
}